@import "tailwindcss";
h1, h2,h3,h4,h5,h6,.fraunces{
    font-family: "Fraunces", serif;
}

.absolute p{
    color: #fff;
}
form {
    margin-top: 1rem;

    & input:not([type="radio"]),input:not([type="checkbox"]), select{
        width: 100%;
        border: 1px solid #d1d5dc;
        border-radius: 4px;
        padding: .4rem;
        margin: .8rem 0;
    }
    & input[type="radio"]{
        appearance: none;
        position: absolute;
        height: 1rem;
        width: 1rem;
        opacity: 0;

        & + label {
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 2px; 
                height: 16px;
                width: 16px;
                border: 2px solid #999;
                border-radius: 50%;
                background-color: #fff;
            }
        }
        &:checked + label {
            &::before {
                background-color: #000; 
                border-color: #000;
            }
            &::after {

                content: '';
                position: absolute;
                left: 4px;
                top: 6px;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: #fff;
            }
            }
    }
}
.contact-bg {
    position: relative;
    overflow: hidden;
}

.contact-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./assets/solid-wood.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    z-index: 0;
}

.contact-bg > * {
    position: relative;
    z-index: 1;
}